header{
    background-color: #030202;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    }
    
    main{
        background-color:#000000;
         font-size: 50px;
        display: flex;
         justify-content: center;
         border-radius: 10px;
    }

    footer{
            background-color: #000000;
            height: 50px;
            border-radius: 15px;
            color: aliceblue;
            margin: 5px;
            padding:5px;
    }
    
    #tozihat{ 
        background-color:#d118cb;
      
        margin: 5px;
        height: 35px;
        border-radius: 10px;
        justify-content:center ;
        display: flex;
        list-style: none;
    }
    
    #chap,#rast{
        background-color:rgb(0, 229, 255);
        height: 450px;
        border-radius: 10px;
        text-align: center;
    }
    #chap
    {
        margin: 10px;
       flex-grow: 4;
    }
    #rast{
        margin: 10px;
        flex-grow:4;

    }
    #bala{color: rgb(81, 0, 255);
          font-size:100px; 
    }
    #vasat1,#vasat2{
    
    }
    #meno{
    
        background-color:rgb(197, 33, 52);
    }
    #manabe{
        background-color:grey;
        display:block;
        font-size: 40px;
        height: 50px;
    }
    nav{
        background-color:#000000;
        height: 60px;
        font-size: 30px;
        text-align: center;
        border-radius: 20px;
        padding: 6px;
        margin: 5px;
    }
   
    ul{
        background-color:#8418d1;
      
        margin: 3px;
        height: 50px;
        border-radius: 20px;
        justify-content:center ;
        display: flex;
    }
    ul li{
        background-color: rgb(250, 83, 0);
        margin: 5px;
        border-radius: 10px;
        height: 30px;
        list-style: none;
        box-shadow: 5px 5px rgb(0, 255, 89);
    }